# Python virtual environment
.venv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# System files
.DS_Store
Thumbs.db